body{
  background-image: linear-gradient(white, lightgray);
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: grid;
  /*grid-template-columns: 20% 40% 40%;*/
  grid-template-columns: 0.65fr 4fr;
  grid-template-rows: 15vh;

}
main{
  /*display: grid;
  column-gap: 10px;
  grid-template-columns: 1;
  grid-template-rows: 1fr 6fr;
  column-gap: 10px;
  */
  border-left: 1px solid;
  border-left-color: rgb(122, 216, 250);
  border-top: 1px solid;
  border-top-color: rgb(122, 216, 250);
  background-color: white;
  grid-row: 2 / 3;
  grid-column: 2 / 2;

}

.mainHeader{
  grid-row: 1/3;
  grid-column: 1/2;

  background-color: white;
  font-size: 25px;
  border-bottom: 1px solid;
  margin-left: 20px;
  font-family: 'Linux Libertine', sans-serif;
  margin-top: 20px;
}
.lesserHeader{
  font-size: 20px;
  margin-left: 20px;
  font-family: 'Linux Libertine' , sans-serif;
}
.aside{

}
nav{
  background-blend-mode:darken;
  background-image: linear-gradient(white, lightgray);
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  font-size: 0.875em;
  margin-left:
  line-height: 1px;

}

img{
  max-height: 155px;
  margin-left: 20px;
}
p{
  margin-left: 20px;
  font-family: 'Linux Libertine' , sans-serif;
  font-size: 0.875em;
}
a{
  margin-left: 20px;
  font-family: 'Linux Libertine' , sans-serif;
}
header{

}
